/******************************************** GENERALS RULES *******************************************/
body, html{
    max-height: 100%;
    overflow:auto;
    overflow-x: hidden;
    font-family: 'Source Sans Pro' !important;
    color: #122844!important;
}

.content{
    z-index: 2;
}

h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_container{
}

/******************************************** GENERALS RULES *******************************************/
/******************************************** HEADER NAV BAR *******************************************/

.navigation-top{
    z-index: 2;

    background: #fff;
    border-bottom: none;
    font-size: 16px;
    font-size: 1rem;
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    transition: background-color 0.7s ease;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    justify-content: space-between;


    -webkit-box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
}

div#logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    /*margin-right: 40px;*/
}

div#logo_container img{
    width: 35px;
    margin-bottom: auto;
    margin-top: auto;
    padding-bottom: 7px;
    padding-top: 7px;
}

.logo_text-only_container{
    /*margin-right: 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_text-only_container img{
    width: 150px;
}

#mobile_menu_icon_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
}

.mobile_menu_icon{
    width: 35px;
}
/******************************************** HEADER NAV BAR *******************************************/
/******************************************** HEADER IMAGE *******************************************/
div#header_image{
    z-index: 1;

    width: 100vw;
    height: 100vh;

    display: block;
    position: relative;

    background: url("../images/backgroud-body/cropped-Eu1-opacity-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#header_image_logo{
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
}

/******************************************** HEADER IMAGE *******************************************/
/******************************************** ABOUT SECTION  *******************************************/


.about_section_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_section_first_description{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.about_icon_container{
    width: 100%;
    bottom: 0;

}

.about_icon_container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.about_icon_container .col-md{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.about_icon_container .about_item_icon_container{

    width: 200px;
    min-height: 320px;

    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;

    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #efefef;
}

div.about_icon_container .about_item_icon{
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px !important;
}

div.about_icon_container .about_item_icon_title{
    font-size: 28px;
}

div.about_icon_container .about_item_icon_description{
    font-size: 18px;
}

@media screen and (max-width: 924px) {
    div.about_icon_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    div.about_icon_container .about_item_icon_container{
        margin-top: 13px;
        margin-bottom: 23px;
        padding-bottom: 10px;
        border-bottom: 1px solid #838383;
    }

}

.about_section_last_description{
    font-size: 1em;
    margin-top: 30px;
}
/******************************************** ABOUT SECTION  *******************************************/
/******************************************** CONVYAGE SECTION  *******************************************/
.convoyage_prologue{
    text-align: center;
    margin-bottom: 50px;
}

div.convoyage_section_container h3{
    text-align: center;
    background: #f2f2f2;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 20px;

}

/********* CONVOYAGE STEPS *********/
div.convoyage_step_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;


    padding-left: 20px;
    padding-right: 20px;
}

.convoyage_step_container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.convoyage_step{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom:40px;

    height: 350px;
}


div.convoyage_step .convoyage_hr{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: #c4c4c4;

}


span.convoyage_step_number{
    font-size: 15px;
    font-weight: bolder;
}

span.convoyage_step_title{
    font-size: 18px;
    white-space: nowrap;
}

div.convoyage_step_container img{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.convoyage_step_description{
    text-align: justify;
}
/********* CONVOYAGE STEPS *********/
/******************************************** CONVYAGE SECTION  *******************************************/
/******************************************** TRUC TRANSPORT SECTION  *******************************************/
.truc_transport_description_container .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.truc_transport_prologue{
    text-align: center;
}

.truc_transport_description_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.truc_transport_description_container .col-md{
    margin-top: 50px;
}

.truc_transport_description_img img{
    width: 80%;
}

.truc_transport_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transport_truc_description_prologue{
    text-align: center;
}

.truc_transport_description_list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.truc_transport_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.truc_transport_item img{
    width: 20px;
    margin-right: 20px;
}
/******************************************** TRUC TRANSPORT SECTION  *******************************************/