/******************************************** GENERALS RULES *******************************************/
body, html{
    height: 100%;
    overflow:auto;
    overflow-x: hidden;
    font-family: 'Source Sans Pro' !important;
    color: #122844!important;
}

.content{
    z-index: 2;
}

h1{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.section_container{
}

/******************************************** GENERALS RULES *******************************************/
/******************************************** HEADER NAV BAR *******************************************/

.navigation-top{
    z-index: 2;

    background: #fff;
    border-bottom: none;
    font-size: 16px;
    font-size: 1rem;
    position: fixed;
    top: 0;
    bottom: auto;
    width: 100%;
    transition: background-color 0.7s ease;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    justify-content: space-between;


    -webkit-box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 13px 38px -5px rgba(0,0,0,0.75);
}

div#logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    /*margin-right: 40px;*/
}

div#logo_container img{
    width: 35px;
    margin-bottom: auto;
    margin-top: auto;
    padding-bottom: 7px;
    padding-top: 7px;
}

.logo_text-only_container{
    /*margin-right: 40px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo_text-only_container img{
    width: 150px;
}

#mobile_menu_icon_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin-right: 20px;
}

.mobile_menu_icon{
    width: 35px;
}
/******************************************** HEADER NAV BAR *******************************************/
/******************************************** HEADER IMAGE *******************************************/
div#header_image{
    z-index: 1;

    width: 100vw;
    height: 100vh;

    display: block;
    position: relative;

    background: url("../images/backgroud-body/cropped-Eu1-opacity-2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    background-size: cover;
}

#header_image_logo{
    position: absolute;
    bottom: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
}

/******************************************** HEADER IMAGE *******************************************/
/******************************************** ABOUT SECTION  *******************************************/


.about_section_container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about_section_first_description{
    font-size: 1.5em;
    margin-bottom: 30px;
}

.about_icon_container{
    width: 100%;
    bottom: 0;

}

.about_icon_container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

div.about_icon_container .col-md{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.about_icon_container .about_item_icon_container{

    width: 200px;
    min-height: 320px;

    border-radius: 20px;

    -webkit-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px -4px rgba(0,0,0,0.75);
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-left: 5px;
    padding-right: 5px;

    margin: 5px;
    margin-top: 25px;
    margin-bottom: 25px;
    background: #efefef;
}

div.about_icon_container .about_item_icon{
    position: static;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 80px !important;
}

div.about_icon_container .about_item_icon_title{
    font-size: 28px;
}

div.about_icon_container .about_item_icon_description{
    font-size: 18px;
}

@media screen and (max-width: 924px) {
    div.about_icon_container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }


    div.about_icon_container .about_item_icon_container{
        margin-top: 13px;
        margin-bottom: 23px;
        padding-bottom: 10px;
        border-bottom: 1px solid #838383;
    }

}

.about_section_last_description{
    font-size: 1em;
    margin-top: 30px;
}
/******************************************** ABOUT SECTION  *******************************************/
/******************************************** CONVYAGE SECTION  *******************************************/
.convoyage_prologue{
    text-align: center;
    margin-bottom: 50px;
}

div.convoyage_section_container h3{
    text-align: center;
    background: #f2f2f2;
    margin-bottom: 0;
    padding-bottom: 30px;
    padding-top: 20px;

}

/********* CONVOYAGE STEPS *********/
div.convoyage_step_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;


    padding-left: 20px;
    padding-right: 20px;
}

.convoyage_step_container .row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.convoyage_step{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding-left: 5px;
    padding-right: 5px;
    margin-bottom:40px;

    height: 350px;
}


div.convoyage_step .convoyage_hr{
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 1px;
    background-color: #c4c4c4;

}


span.convoyage_step_number{
    font-size: 15px;
    font-weight: bolder;
}

span.convoyage_step_title{
    font-size: 18px;
    white-space: nowrap;
}

div.convoyage_step_container img{
    width: 70px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.convoyage_step_description{
    text-align: justify;
}
/********* CONVOYAGE STEPS *********/
/******************************************** CONVYAGE SECTION  *******************************************/
/******************************************** TRUC TRANSPORT SECTION  *******************************************/
.truc_transport_description_container .row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.truc_transport_prologue{
    text-align: center;
}

.truc_transport_description_img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.truc_transport_description_container .col-md{
    margin-top: 50px;
}

.truc_transport_description_img img{
    width: 80%;
}

.truc_transport_description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.transport_truc_description_prologue{
    text-align: center;
}

.truc_transport_description_list_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
}

.truc_transport_item{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
}

.truc_transport_item img{
    width: 20px;
    margin-right: 20px;
}
/******************************************** TRUC TRANSPORT SECTION  *******************************************/
/******************************************** TARIFS SECTION  *******************************************/
.tarif_map_container{
    width: 100%;
    height: 500px;
    background: #808080;
}

#map{
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1080px) {
   #map{

   }
}

@media screen and (max-width: 640px) {
   #map{

   }
}

@media screen and (max-width: 640px) {
   #map{

   }
}

@media screen and (max-width: 640px) {
   #map{

   }
}

@media screen and (max-width: 640px) {
   #map{

   }
}

#controlTraifSectionContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.tarifInputStartContainer, div.tarifInputEndContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 25px;
}


/********************** input select section ***********************/

.selectdiv {
    position: relative;
    /*Don't really need this just for demo styling*/

}

 .selectdiv:after {
    content: '\25bc';
    font: normal normal normal 17px/1 FontAwesome;
    color: #65bef0;
    right: 2px;
    top: 5px;
    height: 40px;
    padding: 15px 10px 0px 10px;
    border-left: 2px solid #65bef0;
    border-top: 2px solid #65bef0;
    border-bottom: 2px solid #65bef0;
    background: white;
    position: absolute;
    pointer-events: none;
}

/* IE11 hide native button (thanks Matt!) */
 select::-ms-expand {
    display: none;
}

 .selectdiv select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    /* Add some styling */

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    text-align:left;

    display: block;
    width: 270px;
    height: 40px;
    float: right;
    margin: 5px 0px;
    padding: 0px 24px;
    font-size: 16px;
    line-height: 1.75;
    color: white;
    border: 2px solid #65bef0;
    background: #65bef0;
    -ms-word-break: normal;
    word-break: normal;
}
/********************** input select section ***********************/
/********************** input section ***********************/
.inp {
    position: relative;
    margin: auto;
    width: 100%;
    width: 350px;
}
.inp .label {
    position: absolute;
    top: 16px;
    left: 0;
    font-size: 16px;
    color: #122844;
    font-weight: 500;
    transform-origin: 0 0;
    transition: all 0.2s ease;
}
.inp .border {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 100%;
    background: #122844;
    transform: scaleX(0);
    transform-origin: 0 0;
    transition: all 0.15s ease;
}
.inp input {
    -webkit-appearance: none;
    width: 350px;
    border: 0;
    font-family: inherit;
    padding: 12px 0;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid #c8ccd4;
    background: none;
    border-radius: 0;
    color: #122844;
    transition: all 0.15s ease;
}

.inpAnime input:not(:placeholder-shown) + span {
    color: #5a667f;
    transform: translateY(-26px) scale(0.75);
}

.inp input:focus {
    background: none;
    outline: none;
}

.inpAnime input:focus + span {
    color: #122844;
    transform: translateY(-26px) scale(0.75);
}

.inpAnime input:focus + span + .border {
    transform: scaleX(1);
}

div.prologTarifSectionContainer label {
    position: relative;
}

div.prologTarifSectionContainer svg {
    width: 25px;
}

div.tarifs_container label span.inputClearButton{
    display: none;
    top: calc(50% - 15px);
    right: -25px;
    position: absolute;
    padding-right: 5px;
    padding-left: 5px;
}

span.tarifInputClear{
    fill: #7f7f7f;
}

/*input error empty span*/
.inputEmptyError{
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    color: #FFFFFF;
    text-align: center;
    vertical-align: center;
    background: #FF0000;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    transition: height 0.7s, padding 0.7s;
    width: 350px;

}

.inputEmptyError label{
    text-align: center;
}
/*input error empty span*/

/********************** input section ***********************/
/********************** radio button section ***********************/

div.optionExpressContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.expressOptionSection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.optionExpressTitle{
    margin-top: 30px;
    margin-bottom: 15px;
}

.btn-switch {
    font-size: 20px;
    position: relative;
    display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 15px;
}
.btn-switch__radio {
    display: none;
}
.btn-switch__label {
    display: inline-block;
    padding: .75em .5em .75em .75em;
    vertical-align: top;
    font-size: 1em;
    font-weight: 700;
    line-height: 1;
    color: #666;
    cursor: pointer;
    transition: color .2s ease-in-out;
}
.btn-switch__label +  .btn-switch__label {
    padding-right: .75em;
    padding-left: 0;
}
.btn-switch__txt {
    position: relative;
    z-index: 2;
    display: inline-block;
    min-width: 1.5em;
    opacity: 1;
    pointer-events: none;
    transition: opacity .2s ease-in-out;
    margin-top: 5px;
}
.btn-switch__radio_no:checked ~  .btn-switch__label_yes  .btn-switch__txt,
.btn-switch__radio_yes:checked ~  .btn-switch__label_no  .btn-switch__txt {
    opacity: 0;
}
.btn-switch__label:before {
    max-height: 61px;
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #f0f0f0;
    border-radius: 1.5em;
    box-shadow: inset 0 .0715em .3572em rgba(43,43,43,.05);
    transition: background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~  .btn-switch__label:before {
    background: #65bef0;
}
.btn-switch__label_no:after {
    max-height: 40px;
    content: "";
    position: absolute;
    z-index: 2;
    top: .5em;
    bottom: .5em;
    left: .5em;
    width: 2em;
    background: #fff;
    border-radius: 1em;
    pointer-events: none;
    box-shadow: 0 .1429em .2143em rgba(43,43,43,.2), 0 .3572em .3572em rgba(43,43,43,.1);
    transition: left .2s ease-in-out, background .2s ease-in-out;
}
.btn-switch__radio_yes:checked ~  .btn-switch__label_no:after {
    left: calc(100% - 2.5em);
    background: #fff;
}
.btn-switch__radio_no:checked ~  .btn-switch__label_yes:before,
.btn-switch__radio_yes:checked ~  .btn-switch__label_no:before {
    z-index: 1;
}
.btn-switch__radio_yes:checked ~  .btn-switch__label_yes {
    color: #fff;
}

p.btn-switch{
    margin-bottom: 0px;
}

/***** tooltip *****/
.expressOptionSection img{
    width: 32px;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 250px;
    background: #D3D3D3;
    color: black;
    font-size: 14px;
    z-index: 100;
}
.arrow, .tooltip-arrow{
    border-bottom-color : #D3D3D3 !important;
}

@media only screen and (max-width: 600px) {
    .tooltip {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.tarifSectionSubmitButtonContainer{
    position: relative;
    margin-top: 30px;
    width: 100%;
    max-width: 590px;
    height: 50px;
    background: #6abdea;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tarifSectionSubmitButton{
    font-size: 25px;
    color: #FFFFFF;
}

/************************* LOADER ******************/
.loaderContainer{
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.loaderTitle{
    font-size: 25px;
    color: #FFFFFF;
}

.loader {
    margin-left: 15px ;
    border: 5px solid #6abdea; /* Light grey */
    border-top: 5px solid #FFFFFF; /* Blue */
    border-bottom: 5px solid #FFFFFF; /* Blue */
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 0.8s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/************************* LOADER ******************/
/********************** radio button section ***********************/
/********************** tarif result section ***********************/

/********** TABLE SECTION ********$*/

 div.result_from_map{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}


 div.result_from_map table{
    width: 90%;
    background: #dbdbdb;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    margin-bottom: 0 !important;
}

 div.result_from_map table, div.result_from_map tr{
    border-collapse: collapse;
}

 .table_title{
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background: #65bef0;
    color: white;
    width: 100%;
}

 .border_table_right{
    border-right: 1px solid white;
}

 .border_table_bottom{
    border-bottom: 1px solid white;
}

 .table_cells_padding{
    padding: 10px 10px 10px 10px;
}

 .table_sub_row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    background: #dbdbdb;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}

 .table_sub_row img {
    width: 28px;
    background: #65bef0;
    padding: 5px;
    margin-right: auto;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
}


div.result_from_map .div_price_button{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.result_from_map .div_price_button div{
    padding-right: 15px;
    padding-left: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: auto;
    background-color: #65bef0 !important;

    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

div.result_from_map #div_price_button div{
    cursor: pointer !important;
}

div.result_from_map #div_edit_search_mobile{
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer !important;
}

div.result_from_map .div_price_button img{
    width: 32px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 10px;

}
/********** TABLE SECTION ********$*/

/********** Mobile TABLE SECTION ********$*/
 div.result_from_map_mobile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

 div.result_from_map_mobile table{
    margin-bottom: 0 !important;
}

 div.result_from_map_mobile table tr th, div.result_from_map_mobile table tr td{
    padding: 8px 15px;
    border-bottom: 1px solid #d6d6d6;
}

 div.result_from_map_mobile table td{
    background: rgba(94, 176, 231, 0.53);
}

 div.result_from_map_mobile table tr th{
    text-align: left;
}

 div.result_from_map_mobile table tr td{
    text-align: center;
}

 div.result_from_map_mobile tr{
    border-bottom:1px solid #61bdf2 !important;
}

 .mobile_table_header{
    font-size: 30px;
    text-align: center;
}

 .show_total_price_ttc{
    font-weight: bold;
}



div.result_from_map_mobile .div_price_button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

div.result_from_map_mobile .div_price_button div{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #aad5f2 !important;
    cursor: pointer !important;
    border-bottom: 1px solid #d6d6d6 !important;
}

#marker_img_mobile_container, #spotlight_img_mobile_container{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-right: 15px;
}

div.result_from_map_mobile .div_price_button img{
    width: 32px;
}

/********************** tarif result section ***********************/
/******************************************** TARIFS SECTION  *******************************************/